body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #f3f3f3;
}

.topnav a {
  float: left;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

img {
  border-radius: 8px;
}

#header {
    text-align: center;
}

#content {
    padding-left: 16px;
}

#compile-lang {
    width: 80%;
    text-align: center;
    border: 2px outset gray;
    border-radius: 8px;
    background-color: #add8e6;
    margin: 0 auto;
}

#interpreted-lang {
    width: 80%;
    text-align: center;
    border: 2px outset gray;
    border-radius: 8px;
    background-color: #add8e6;
    margin: 0 auto;
}

#languages-type {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  #languages-type td, #languages-type th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #languages-type tr:nth-child(even){background-color: #f2f2f2;}

  #languages-type tr:hover {background-color: #ddd;}

  #languages-type th {
    padding-top: 12px;
    width: 50%;
    padding-bottom: 12px;
    text-align: center;
    background-color: #333;
    color: white;
  }
  #founder
  {
      color: #4caf50;
      font-family: "times new roman";
      font-weight: bold;
  }
  #oop
  {
      color:#4caf50;
      font-family: Arial;
      font-weight: bolder;
  }
